body{
    background-color:#ffffff;
    color:#141414;
}

main{
    padding:20px;
}

.logo{
    height:50px;
    width:auto;
    padding-right:10px;
}

.intro{
    text-align:center;
    padding-bottom:20px;
    padding-top:20px;
    color:#284b63;
}
.intro-para{
    font-size: 20px;
}
.home{
    padding: 20px;
    color:#141414;
}
h4{
    color:#284b63;
}

.header-img{
    width: 100%;
    height:auto;
}

.contact{
    color:#3c6e71;
    padding-left:100px;
    padding-right:100px;
}

.form-floating{
    padding-bottom: 20px;
}

.may25{
    text-align:center;
    padding-bottom:20px;
    padding-top:20px;
    color:#284b63;
}
.May{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.june25{
    text-align:center;
    padding-bottom:20px;
    padding-top:40px;
    color:#284b63;
}
.June{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.footer{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background-color:#284b63;
    color:#ffffff;
    font-size:14px;
    padding: 10px;
  }

.social-media{
    text-align: center;
  }